<div class="author-meta">
	<%
		image_tag(gravatar(post.author.email), {alt: post.author.name, class:'author-avatar'}) 
	%>
	<span class="author-name"> <%- post.author.name %></span>
	<%- partial('date', {class_name: 'article-date', date_format: null}) %>
</div>