---
title: Documentation
layout: docs
---

<h1>Dojo Documentation</h1>

<div class="uk-tile uk-tile-muted">
	<h3>Widget-Core</h3>
	<p>widget-core is a library to create powerful, composable user interface widgets</p>
</div>