// Individual Tutorials View

.body-tutorial {

	.page-content {
		height: 100%;

		.tutorial-content {
			position: relative;
			margin-left: auto;
			margin-right: auto;
			max-width: $article-max-width;

			& > h1 {
				article-title();
				margin: pad(1.5) 0;
			}
		}

		.split-content {
			.tutorial-content {
				padding-bottom: 45vh;
			}

			.editor {
				width: 100vw;
				position: fixed;
				bottom: -35px;
				right: 0;
				left: 0;
				z-index: 3;
				.editor-frame {
					width: 100%;
					height: 40vh;
				}

				iframe {
					border: 0;
				}
			}
		}
	}

	.solution-container {
		area: #D4EEF8
		margin-bottom: vr(4);

		pre[class*="language-"] {
			margin-bottom: 0;
		}

		[id*='solution'] {
			transition(height 10s);
			overflow-y: hidden;
			pre {
				code {
					transition(opacity 0.3s);
					opacity: 1;
				}
			}

			&.hidden {
				height: 0;
				pre {
					code {
						opacity: 0.05;
					}
				}
			}
		}
	}

	.toggle-solution {
		button();
		width: 100%;

		&:active {
			  click-down();
		}

		&:focus {
			outline: 0;
		}
	}

	img{
		max-width: 100%;

		&.half-width {
			width: 40%;
			margin: 0 5%;
		}
	}
	p.center {
		text-align: center;
	}

	.aside {
		max-width: 40%;
		float: right;
		background-color: #DAFEFF;
		border: 1px solid darken(#DAFEFF, 5%);
		margin: 1em;
		padding: 0.5em;
		border-radius: 0.3em;

		p{
			font-size: 0.8rem;
			margin: 0;
			text-align: start;
		}

		strong {
			font-size: 1rem;
		}
	}

	pre {
		clear: both;
	}

	.content-container, .tutorial-content {
		height: 100%;
	}

	.scrollable {
		position: relative;
		height: calc(100% - 65px);
		overflow-y: auto;
		.tutorial {
			padding-left: 1.5rem;
			transition(opacity 0.3s);
			opacity: 1;
			position: absolute;
			left: 0;
			top: 0;
			width: calc(100% - 10px);

			&.hiding {
				opacity: 0.05;
			}

		}
	}
	.action-bar {
		position: absolute;
		bottom: 0;
		width: 100%;
		background-color: #F3F3F3;

		.section-one {
			height: 65px;

			button.own-editor {
				position: absolute;
				top: 7.5px;
				right: 2rem;
			}
		}

		.other-section {
			height: 65px;

			.section-container {
				margin-top: 15px;
				display: inline-block;
              	@media(min-width: 601px) {
					position: relative;
					left: 50%;
					.center-section-container {
						position: relative;
						left: -50%;
					}
				}

				.section-selector {
					width: 0.7rem;
					height: 0.7rem;
					border-radius: 0.35rem;
					background-color: #CFCFCF;
					display: inline-block;
					margin-right: 0.1rem;
					cursor: pointer;

					&:hover {
						background-color: lighten(#28A4F7, 30%);
					}

					&.active {
						background-color: #28A4F7;
					}
				}
			}

			button.next {
				position: absolute;
				right: 2rem;
				top:7.5px;
			}

			button.back {
				@media(max-width: 600px) {
					display: none;
				}
                position: absolute;
				left: 2rem;
				top: 7.5px;
			}
		}
	}

	.task {
		font-style: italic;
		color: #7A7A7A;
		margin-bottom: 1rem;

		&:before {
			margin-left: -1.5rem;
			margin-right: 0.5rem;

			content: '\2605';
			color: #F49C20;
			font-style: normal;
		}
	}

	.instruction {
		font-weight: bold;
		margin-bottom: 1rem;

		&:before {
			margin-left: -1.5rem;
			margin-right: 0.5rem;
			content: '\27e9';
			color: #67AB26;
			font-size:1.4em;
			margin-left:-.6em;
		}
	}

	.hidden {
		display: none;
	}

	button {
		padding: 0.5rem 2rem;
		color: white;
		border: 0;

		&.green {
			background-color: #33BF6D;

			&:hover {
			background-color: lighten(#33BF6D, 10%);
			}
			&:focus {
				outline: 2px solid darken(#33BF6D, 10%);
			}
		}

		&.blue {
			background-color: #28A4F7;
			&:hover {
			background-color: lighten(#28A4F7, 10%);
			}
			&:focus {
				outline: 2px solid darken(#28A4F7, 10%);
			}
		}
	}
}
