.aside {
	max-width: 30%;
	float: right;
	background-color: #DAFEFF;
	border: 1px solid darken(#DAFEFF, 5%);
	margin: 1em;
	padding: 0.5em;
	border-radius: 0.3em;

	p{
		font-size: 0.6rem;
	}

	strong {
		font-size: 1rem;
	}
}
