.page-footer {
	background: $footer-background;
	padding: vr(2) 0;
	border-top: 1px solid darken($color-border, 5%);

	+below(2) {
		padding: vr(1) 0;
	}
	

	.content-container {
		grid('row', 'center');
		
		.footer-logo {
			cell(4, 12);
			img {
				height: vr(5);
				width: auto;
				opacity: 0.5;
			}
		}

		.info {
			cell(8, 12);
			font-size: $ms-down1;
			text-align: right;

			+below(2) {
				font-size: 70%;
			}
		}
	}
}