body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: $color-background-light;
}

.content-container {
	contain();
}

.page-content {
	header-offset();
	flex: 1;

	.content-container {
		//max-width: $content-max-width;
	}
}

.outer {
	outer();
}

.inner {
	max-width: $max-width;
}

.row {
	display: flex;
}
