<header class="site-header">
    <div class="outer">
        <div class="row">
            <nav class="site-nav">
                <a href="/" class="header-logo"><img src="/images/dojo2-logo-white.svg" alt="Dojo"></a>
                <a class="main-nav-link" href="/tutorials">Tutorials</a>
                <a class="main-nav-link" href="/api">API</a>
                <a class="main-nav-link" href="/community">Community</a>
                <a class="main-nav-link" href="/blog">Blog</a>
                <a class="main-nav-link" href="https://github.com/dojo/meta"><img src="/images/logos/github-white.svg" alt="Dojo on Github" class="nav-icon github"></a>
            </nav>
        </div>
    </div>
</header>