.workerForm {
	margin-bottom: 40px;
	text-align: center;
}

.workerForm fieldset,
.workerForm label {
	display: inline-block;
	text-align: left;
}

.workerForm label {
	margin-right: 10px;
}

.nameField {
	border: 0;
	margin: 0;
	padding: 0;
}

.nameLabel {
	font: 14px/1 sans-serif;
	margin: 5px 0;
}

.workerButton {
	padding: 5px 20px;
}
