.article-entry {
	
	img {
		max-width: 100%;
	}

	.full-width {
		width: 100vw;
		position: relative;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
		max-width: 100vw;
	}

}

.article-date {
	setType(3, $ms-down1);
}