body {
	color: $color-default;
}

.outer {
  clearfix();
  max-width: 740px;
  margin: 0 auto;
  padding: 0 emRhythm(2, $ms-down1);
}

.container {
  
}

.inner {
	max-width: 740px;
}

.row {
  display: flex;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}

a:link,
a:hover {
	text-decoration: none;
}
