body {
	color: $color-default;
}

.outer {
  clearfix();
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 vr(2, $ms-down1);
}

.page-content {
  padding-top: vr(9, $ms-down1);
}

.inner {
	max-width: 740px;
}

.row {
  display: flex;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}

a:link,
a:hover {
	text-decoration: none;
}

a {
  link: $blue 'darken';
}

code {
  code();
  font-family: $font-mono;
  font-size: 0.9rem;
}

time,
.time {
  text-transform: none;
}