.page-footer {
	background: $footer-background;
	padding: vr(2) 0;
	z(1);

	.content-container {
		grid('row', 'center');

		.footer-logo,
		.info {
			cell(4, 12);
		}

		.info {
			cell(8, 12);
			font-size: $ms-down1;
			text-align: right;
		}
	}
}