body {
  /**
 * GHColors theme by Avi Aryan (http://aviaryan.in)
 * Inspired by Github syntax coloring
 */

  :not(pre) > code {
    background-color: $color-code-background;
    border: 1px solid darken($color-border, 5%);
    border-radius: 3px;
    color: $color-inline-code;
    padding: 3px 4px;
    white-space: nowrap;
  }

  code {
    font-family: $font-mono;
    font-size: 0.9rem;
  }

  .tsd-panel pre,
  code[class*="lang"],
  code[class*="language-"],
  pre[class*="language-"] {
      color: #393A34;
      font-family: $font-mono;
      direction: ltr;
      text-align: left;
      white-space: pre;
      word-spacing: normal;
      word-break: normal;
      font-size: 0.95em;
      line-height: 1.2em;

      -moz-tab-size: 4;
      -o-tab-size: 4;
      tab-size: 4;

      -webkit-hyphens: none;
      -moz-hyphens: none;
      -ms-hyphens: none;
      hyphens: none;
  }

  pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
  code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
      background: #b3d4fc;
  }

  pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
  code[class*="language-"]::selection, code[class*="language-"] ::selection {
      background: #b3d4fc;
  }

  /* Code blocks */
  .tsd-panel pre,
  &.body-tutorial pre,
  pre[class*="language-"] {
      padding: 1em;
      overflow: auto;
      border: 1px solid #dddddd;
      background-color: white;

      code {
        border: 0;
      }
  }

  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
  }

  /* Inline code */
  :not(pre) > code[class*="language-"] {
      padding: .2em;
      padding-top: 1px; padding-bottom: 1px;
      background: #f8f8f8;
      border: 1px solid #dddddd;
  }

  .comment,
  .prolog,
  .doctype,
  .cdata {
      color: #999988; font-style: italic;
  }

  .namespace {
      opacity: .7;
  }

  .string,
  .attr-value {
      color: #e3116c;
  }
  .punctuation,
  .operator {
      color: #393A34; /* no highlight */
  }

  .entity,
  .url,
  .symbol,
  .number,
  .boolean,
  .variable,
  .constant,
  .property,
  .regex,
  .inserted {
      color: #36acaa;
  }

  .atrule,
  .keyword,
  .attr-name,
  .language-autohotkey .selector {
      color: #00a4db;
  }

  .function,
  .deleted,
  .language-autohotkey .tag {
      color: #9a050f;
  }

  .tag,
  .selector,
  .language-autohotkey .keyword {
      color: #00009f;
  }

  .important,
  .function,
  .bold {
      font-weight: bold;
  }

  .italic {
      font-style: italic;
  }

    .tsd-panel pre
    pre[class*="language-"] {
        margin-bottom: vr(4);
    }

}



// API Docs currently use Highlight.js
/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}