body {
  /**
 * GHColors theme by Avi Aryan (http://aviaryan.in)
 * Inspired by Github syntax coloring
 */

  p code {
    background-color: $color-code-background;
    border: 1px solid darken($color-border, 5%);
    border-radius: 3px;
    color: $color-inline-code;
    padding: 3px 4px;
    white-space: nowrap;
  }

  code {
    font-family: $font-mono;
    font-size: 0.9rem;
  }

  code[class*="language-"],
  pre[class*="language-"] {
      color: #393A34;
      font-family: $font-mono;
      direction: ltr;
      text-align: left;
      white-space: pre;
      word-spacing: normal;
      word-break: normal;
      font-size: 0.95em;
      line-height: 1.2em;

      -moz-tab-size: 4;
      -o-tab-size: 4;
      tab-size: 4;

      -webkit-hyphens: none;
      -moz-hyphens: none;
      -ms-hyphens: none;
      hyphens: none;
  }

  pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
  code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
      background: #b3d4fc;
  }

  pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
  code[class*="language-"]::selection, code[class*="language-"] ::selection {
      background: #b3d4fc;
  }

  /* Code blocks */
  pre[class*="language-"] {
      padding: 1em;
      margin: .5em 0;
      overflow: auto;
      border: 1px solid #dddddd;
      background-color: white;
  }

  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
  }

  /* Inline code */
  :not(pre) > code[class*="language-"] {
      padding: .2em;
      padding-top: 1px; padding-bottom: 1px;
      background: #f8f8f8;
      border: 1px solid #dddddd;
  }

  .comment,
  .prolog,
  .doctype,
  .cdata {
      color: #999988; font-style: italic;
  }

  .namespace {
      opacity: .7;
  }

  .string,
  .attr-value {
      color: #e3116c;
  }
  .punctuation,
  .operator {
      color: #393A34; /* no highlight */
  }

  .entity,
  .url,
  .symbol,
  .number,
  .boolean,
  .variable,
  .constant,
  .property,
  .regex,
  .inserted {
      color: #36acaa;
  }

  .atrule,
  .keyword,
  .attr-name,
  .language-autohotkey .selector {
      color: #00a4db;
  }

  .function,
  .deleted,
  .language-autohotkey .tag {
      color: #9a050f;
  }

  .tag,
  .selector,
  .language-autohotkey .keyword {
      color: #00009f;
  }

  .important,
  .function,
  .bold {
      font-weight: bold;
  }

  .italic {
      font-style: italic;
  }

  pre[class*="language-"] {
    margin-bottom: vr(4);
  }
}

