/*
 * highlightjs-material-dark-theme
 * Material Dark theme for Highlight.js
 * Based off of https://github.com/equinusocio/material-theme 
 * For use with Highlight.js, https://github.com/isagalaev/highlight.js
 */ 
.hljs > *::selection {
  background-color: #3e4451;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
  background: #2B2B2D;
  color: #CDD3D8;
  margin-bottom: vr(5);

  .comment {
    color: #656565;
    font-style: italic;
  }

  .selector-tag {
    color: #C792EA;
  }

  .string,
  .subst {
    color: #C3E88D;
  }

  .number,
  .regexp,
  .variable,
  .template-variable {
    color: #F77669;
  }

  .keyword {
    color: #C792EA;
  }
  .function > .title {
    color: #75A5FF;
  }
  .tag {
    color: #abb2bf;
  }
  .name {
    color: #e06c75;
  }
  .type {
    color: #da4939;
  }

  .attribute {
    color: #80CBBF;
  }

  .symbol,
  .bullet,
  .built_in,
  .builtin-name,
  .link {
    color: #C792EA;
  }

  .params {
    color: #EEFFF7;
  }


  .meta {
    color: #75A5FF;
  }

  .title {
    color: #75A5FF;
  }

  .section {
    color: #ffc66d;
  }

  .addition {
    background-color: #144212;
    color: #e6e1dc;
    display: inline-block;
    width: 100%;
  }

  .deletion {
    background-color: #600;
    color: #e6e1dc;
    display: inline-block;
    width: 100%;
  }

  .selector-class {
    color: #FFCB68;
  }

  .selector-id {
    color: #F77669;
  }

  .emphasis {
    font-style: italic;
  }

  .strong {
    font-weight: bold;
  }

  .link {
    text-decoration: underline;
  }
}
