.outer {
  clearfix();
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 pad(4);
}

.page-content {
  padding-top: $header-offset;

  +below(2) {
    
  }
}

.inner {
	max-width: 740px;
}

.row {
  display: flex;
}