body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.page-content {
	padding-top: $header-offset;
	flex: 1;
}

.content-container {
	contain();
}

.outer {
	outer();
}

.inner {
	max-width: $max-width;
}

.row {
	display: flex;
}