body {
    color: $color-default;
    font-family: $default-font;
}

body ul {
    ul();
    margin-bottom: vr(4);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
	font-weight: 400;
}

h1 {
  font-weight: 300;
}

a:link,
a:hover {
	text-decoration: none;
}

a {
  link: $blue 'darken';
}


time,
.time {
  text-transform: none;
}