<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-9 article">
				<%- page.content %>
				<div class="content">
					<div class="docs-content"></div>
				</div>
			</div>
		</div>
	</div>
</section>
<script>
	var docSets = <%- JSON.stringify(site.data[locals.docset]) %>;
</script>
<script src="/js/dependencies.js"></script>
<script src="/js/doc_viewer.js"></script>
