<%- page.content %>
<%
    var tuts = _.filter(site.pages.data, ['layout', 'tutorial']);
    tuts = _.orderBy(tuts, ['path']);

    _.each(tuts, function(tut) {
%>
    <div><a href="<%- url_for(tut.path) %>"><%- tut.title %></a></div>
<%
    });
%>