section.create-custom-components {
	$mobile-break: 480px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	background: linear-gradient(to right, #009dff, #00f5ff);
	padding-top: 5em;

	@media screen and (max-device-width : $mobile-break) {
		flex-direction: column;
		background: linear-gradient(60deg, #009dff, #00f5ff);
		padding-top: 0;
	}

	.copy, .demo {
		width: 40%;

		@media screen and (max-device-width : $mobile-break) {
			margin: 10%;
			width: 80%;
		}
	}

	.copy {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		color: #ffffff;

		img {
			width: 35px;
			height: 35px;

			@media screen and (max-device-width : $mobile-break) {
				width: 70px;
				height: 70px;
			}
		}

		h2 {
			max-width: 60%;
			line-height: 1.3;
			padding-bottom: 1em;

			@media screen and (max-device-width : $mobile-break) {
				max-width: 100%;
				font-size: 2em;
			}
		}
		p {
			margin-right: 10%;
		}

		a {
			background-color: #272a32;
			color: #4dcdff;
			text-transform: uppercase;
			border: 0;
			width: 170px;
			padding: 0 2em;
			box-shadow: 0 10px 40px darken(#009dff, 10%);
			border-radius: 3px;
			font-weight: bold;
			cursor: pointer;
			line-height: 3.5;
			font-size: 12px;
			text-align: center;

			@media screen and (max-device-width : $mobile-break) {
				margin: auto;
				position: relative;
				top: 27em;
			}

		}
	}

	.demo {
		$animation-duration: 15s;

		@media screen and (max-device-width : $mobile-break) {
			position: relative;
			top: -7em;
		}

		.menu-list {
			position: relative;
			padding: 0.4em;

			.background {
				border-radius: 3px;
				position: absolute;
				width: 100%;
				height: 100%;
				box-shadow: 0 10px 30px darken(#00f5ff, 10%);
				transform-origin: left;
				background-color: #1f2127;
				animation: create-custom-stepped-reveal $animation-duration linear infinite;

				@keyframes create-custom-stepped-reveal {
					from, 20% {
						transform: scaleX(0);
					}
					21%, 40% {
						transform: scaleX(0.25);
					}
					41%, 60% {
						transform: scaleX(0.5);
					}
					61%, 80% {
						transform: scaleX(0.75);
					}
					81%, to {
						transform: scaleX(1);
					}
				}
			}

			.menu-item {
				text-transform: uppercase;
				font-family: 'Source Code Pro';
				font-size: 12px;
				color: #6b7e89;
				padding: 0.6em 1em;
				display: inline-block;

				> span {
					border: none;
					border-bottom: 2px solid transparent;
					padding: 0.5em 0.3em;

					&.active {
						color: #ffffff;
						border-bottom-color: #ffffff;
						background: inherit;
					}
				}

				&.menu1 {
					animation: create-custom-fade-in-1 $animation-duration linear infinite;

					@keyframes create-custom-fade-in-1 {
						from, 21% {
							opacity: 0;
						}
						22%, to {
							opacity: 1;
						}
					}
				}
				&.menu2 {
					animation: create-custom-fade-in-2 $animation-duration linear infinite;

					@keyframes create-custom-fade-in-2 {
						from, 41% {
							opacity: 0;
						}
						42%, to {
							opacity: 1;
						}
					}
				}
				&.menu3 {
					animation: create-custom-fade-in-3 $animation-duration linear infinite;

					@keyframes create-custom-fade-in-3 {
						from, 61% {
							opacity: 0;
						}
						62%, to {
							opacity: 1;
						}
					}
				}
				&.menu4 {
					animation: create-custom-fade-in-4 $animation-duration linear infinite;

					@keyframes create-custom-fade-in-4 {
						from, 81% {
							opacity: 0;
						}
						82%, to {
							opacity: 1;
						}
					}
				}
			}
		}
		.code {
			margin-top: 3em;

			.codeline {
				margin: 0.2em 0;
				overflow: hidden;
				white-space: unquote("nowrap");
				letter-spacing: 0.2em;

				@media screen and (max-device-width : $mobile-break) {
					letter-spacing: 0.1em;
					font-size: 16px;
				}

				&.indent {
					margin-left: 2em;
				}

				.html {
					color: #effcff;
					font-weight: bold;
				}

				.text {
					color: #000000;
				}

				&.menu1 {
					animation: create-custom-typing-1 $animation-duration steps(60, end) infinite;

					@keyframes create-custom-typing-1 {
						from, 0% {
							width: 0;
						}
						20%, to {
							width: 100%;
						}
					}
				}
				&.menu2 {
					animation: create-custom-typing-2 $animation-duration steps(60, end) infinite;

					@keyframes create-custom-typing-2 {
						from, 25% {
							width: 0;
						}
						40%, to {
							width: 100%;
						}
					}
				}
				&.menu3 {
					animation: create-custom-typing-3 $animation-duration steps(60, end) infinite;

					@keyframes create-custom-typing-3 {
						from, 45% {
							width: 0;
						}
						60%, to {
							width: 100%;
						}
					}
				}
				&.menu4 {
					animation: create-custom-typing-4 $animation-duration steps(60, end) infinite;

					@keyframes create-custom-typing-4 {
						from, 65% {
							width: 0;
						}
						80%, to {
							width: 100%;
						}
					}
				}
			}
		}
	}
}
