section.hero {
		background: #212329;
		position: relative;
		z-index: 0;
		text-align: center;
		width: 100%;

		.container {
			text-align: center;
		}

	h1 {
		color: white;
		margin: 10vh auto 0 auto;
		text-align: center;
		max-width: 60%;
	}

	a {
		background-color: transparent;
		text-transform: uppercase;
		border: 1px solid #00B89C;
		border-radius: 0;
		font-weight: bold;
		cursor: pointer;
		color: white;
		margin: 5vh auto 15vh auto;
		width: 40vw;
		max-width: 250px;
		line-height: 3.5;
		text-align: center;
		font-size: 16px;
		display: inline-block;
	}

	.highlight {
		display: flex;
		flex: 0 0 auto;
		flex-direction: row;
		justify-content: space-around;
		margin-bottom: 3vh;

		@media screen and (max-width : $mobile-break) {
			flex-direction: column;
		}

		> div {
			width: 30%;
			padding: 0 2rem;

			@media screen and (max-width : $mobile-break) {
				width: 100%;
				padding: 0 1em;
			}

			h3 {
				font-size: 22px;
				color: white;
				text-align: left;

				.red {
					color: #b3141a;
				}
				.blue {
					color: #279eda;
					font-size: 22px;
				}
				.purple {
					color: #b333c0;
					font-size: 22px;
				}
			}
			p {
				font-size: 16px;
				color: #666666;
				text-align: left;
			}
		}
	}
}
