$animation-duration: 10.0s;

section.up-and-running {
	height: 625px;

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

	& > div {
		flex: 1 1 50%;
	}

	.commands {
		padding: 0 4em;
		height: 300px;
		margin: auto;
	}

	h3 {
		text-align: left;
	}

	.code-line {
		margin-bottom: 1em;
		width: 240px;

		span {
			font-family: "Source Code Pro";
			display: inline-block;

			&.line-number {
				font-size: 24px;
				padding-right: 1em;
				color: #bec7cc;
			}
			&.typed-text {
				padding: 0 0.5em;
				margin-bottom: 4px;
				line-height: 26px;
				font-size: 13px;
				overflow: hidden;
				white-space: unquote("nowrap");
				letter-spacing: 0.15em;
				vertical-align: bottom;
				border-radius: 3px;
				border: 1px solid transparent;
				color: #00b89c;
			}
		}
	}

	#upAndRunning-typing-1 {
		.typed-text {
			animation:
				typing-1 $animation-duration steps(400, end) infinite,
				fadein-background-1 $animation-duration linear infinite;
		}
		@keyframes typing-1 {
			from { width: 0; }
			15%, to { width: unquote("calc(100% - 50px)"); }
		}
		@keyframes fadein-background-1 {
			from, 15% {
				background-color: transparent;
				border-color: transparent;
			}
			20%, to {
				background-color: #e8f9f6;;
				border-color: #00b89c;
			}
		}
	}

	#upAndRunning-typing-2 {
		.line-number {
			animation: delayed-show-2-1 $animation-duration linear infinite;
		}
		@keyframes delayed-show-2-1 {
			from, 25%  {
				opacity: 0;
			}
			26%, to {
				opacity: 1;
			}
		}
		.typed-text {
			animation:
				typing-2 $animation-duration steps(400, end) infinite,
				fadein-background-2 $animation-duration linear infinite,
				delayed-show-2-2 $animation-duration linear infinite;
		}
		@keyframes typing-2 {
			from, 25% { width: 0; }
			40%, to { width: unquote("calc(100% - 50px)"); }
		}
		@keyframes fadein-background-2 {
			from, 40% {
				background-color: transparent;
				border-color: transparent;
			}
			45%, to {
				background-color: #e8f9f6;;
				border-color: #00b89c;
			}
		}
		@keyframes delayed-show-2-2 {
			from, 25%  {
				opacity: 0;
			}
			26%, to {
				opacity: 1;
			}
		}
	}

	#upAndRunning-typing-3 {
		border-radius: 3px;
		animation: shadow-1 $animation-duration linear infinite;
		@keyframes shadow-1 {
			from, 80% {
				box-shadow: 0 10px 5px transparent;
			}
			85%, to {
				box-shadow: 0 10px 5px #cccccc;
			}
		}

		.line-number {
			animation: delayed-show-3-1 $animation-duration linear infinite;
		}
		@keyframes delayed-show-3-1 {
			from, 65%  {
				opacity: 0;
			}
			66%, to {
				opacity: 1;
			}
		}
		.typed-text {
			color: 00b89c;
			background-color: transparent;
			border-color: transparent;
			animation:
				typing-3 $animation-duration steps(400, end) infinite,
				delayed-show-3-2 $animation-duration linear infinite;
		}
		@keyframes typing-3 {
			from, 65% { width: 0; }
			80%, to { width: unquote("calc(100% - 50px)"); }
		}
		@keyframes delayed-show-3-2 {
			from, 65%  {
				opacity: 0;
			}
			66%, to {
				opacity: 1;
			}
		}
	}

	.results {
		position: relative;
		display: flex;

		.code {
			margin: auto;
			opacity: 0;
			animation: fadein-1 $animation-duration linear infinite;
			border-radius: 5px;
		}
		@keyframes fadein-1 {
			from, 50% { opacity: 0; }
			52.5%, to { opacity: 1; }
		}
		.result {
			z-index: 1;
			position: absolute;
			bottom: 10%;
			left: 10%;
			opacity: 0;
			animation: fadein-2 $animation-duration linear infinite;
			border-radius: 5px;
		}
		@keyframes fadein-2 {
			from, 57.5% { opacity: 0; }
			60%, to { opacity: 1; }
		}
	}
}










