<li><a href="https://github.com/dojo/framework"><span class="uk-margin-small-right" uk-icon="icon: github"></span> Github</a></li>
<li><a href="https://discord.gg/M7yRngE"><span class="uk-margin-small-right" uk-icon="icon: comment"></span> Discord</a></li>
<li><a href="https://twitter.com/dojo"><span class="uk-margin-small-right" uk-icon="icon: twitter"></span> Twitter</a></li>
<li><a href="https://discourse.dojo.io/"><span class="uk-margin-small-right" uk-icon="icon: comments"></span> Discourse</a></li>
<li><a href="/atom.xml"><span class="uk-margin-small-right" uk-icon="icon: rss"></span> RSS</a></li>
