<aside class="menu">
	<%
		var recipeRegex = /cookbook/;
		var categoryRegex = /cookbook\/(.*?)\//;

		var recipes = _.filter(site.pages.data, function (page) {
			return recipeRegex.test(page.path) && page.path !== 'cookbook/index.html';
		});
		var categories = {};
		recipes.forEach(function (recipe) {
			var match = categoryRegex.exec(recipe.path);
			if (match) {
				var categoryName = match[1];
				if (!categories[categoryName]) {
					categories[categoryName] = [];
				}
				categories[categoryName].push(recipe);
			}
		});

		for (var idx in categories) {
			var categoryName = idx.replace(/\-/g, ' ');
	%>
	<p class="menu-label">
			<%- categoryName %>
		</p>

		<ul class="menu-list">
			<%
				_.each(categories[idx], function(recipe) {
					// remove index.html from the path to make relative URLs work consistently
					var urlRaw = recipe.path.substr(0, recipe.path.length - 10 /* length of 'index.html' */);
			%>
				<li
					<% if (url_for(recipe.path) == url_for(path)) { %>class="active" <% } %>
				>
					<a href="<%- url_for(recipe.path) %>">
						<%- recipe.title %>
					</a>
				</li>
			<%
				});
			%>
		</ul>
	<%
		}
	%>
</aside>
