<h3>Docs</h3>
<ul class="uk-nav uk-nav-primary">
	<li class="uk-nav-divider"></li>
	<% for (var pkgName in site.data.docs_menu) { %>
		<% var pkg = site.data.docs_menu[pkgName] %>
		<li><a href="#doc--<%= pkg.repo.split('/').join('__') %>__<%= pkg.version %>"
	  			data-doc-type="doc"
				data-package="<%= pkgName %>"
				class="repo-doc-link"><%= pkgName.replace(/^dojo\//, '') %></a>
	<% } %>
</ul>
