<% 
	var ver = 'rc2';
%>
<ul class="uk-nav uk-nav-primary">
	<h3>Docs</h3>
	<li class="uk-nav-divider">
		<% for (var link in site.data.docs_menu) { %>
			<a href="<%- url_for('docs/'+ver+'/'+site.data.docs_menu[link]) %>"> <%= link %> </a>
		<% } %>
	</li>
</ul>
