<ul class="uk-nav uk-nav-primary">
	<h3>Docs</h3>
	<li class="uk-nav-divider">
		<% for (var pkg in site.data.docs_menu) { %>
			<a href="#<%= site.data.docs_menu[pkg].repo %>/<%= site.data.docs_menu[pkg].version %>"
				class="repo-doc-link"><%= pkg %></a>
		<% } %>
	</li>
</ul>
