<footer class="footer">
	<div class="container">
		<div class="info">
			<span class="is-size-7">&copy; 2018 JS Foundation, All Rights Reserved.</span>
		</div>
		<div class="link-container">
			<div class="links">
				<a href="https://twitter.com/dojo" class="twitter"></a>
				<a href="https://github.com/dojo" class="github"></a>
			</div>
		</div>
	</div>
</footer>
