<footer class="page-footer">
  <div class="content-container">
    <div class="footer-logo">
      <%- image_tag('/images/logos/dojo-logo-black.svg') %>
    </div>
    <div class="info">
      &copy; JS Foundation, All Rights Reserved.
    </div>
  </div>
</footer>