<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
	<div class="uk-container uk-container-expand uk-navbar-container">
		<nav class="uk-navbar" uk-navbar>
			<div class="uk-navbar-left">
				<ul class="uk-navbar-nav">
					<li><a href="#sidebar-nav" uk-icon="icon: menu" class="navbar-item uk-hidden@m" uk-toggle></a></li>
					<li><a href="/" class="navbar-item"><img src="/images/logos/dojo2-logo-white.svg" class="uk-logo site-logo" alt="Dojo"></a></li>
				</ul>
			</div>
			<div class="uk-navbar-right">
				<ul class="uk-navbar-nav">
					<li><a class="navbar-item" href="/docs/index.html#doc--dojo__cli__master">Docs</a></li>
					<li><a class="navbar-item" href="/tutorials/000_local_installation/">Tutorials</a></li>
					<li><a class="navbar-item" href="/blog">Blog</a></li>
					<li>
						<a class="navbar-item">Community</a>
						<div class="uk-navbar-dropdown uk-box-shadow-large" uk-dropdown="animation: uk-animation-slide-top-small; duration: 400; offset:-15;">
							<ul class="uk-nav uk-navbar-dropdown-nav">
								<li><a href="https://github.com/dojo/meta"><span class="uk-margin-small-right" uk-icon="icon: github"></span> Github</a></li>
								<li><a href="https://gitter.im/dojo/dojo"><span class="uk-margin-small-right" uk-icon="icon: gitter"></span> Gitter</a></li>
								<li><a href="https://twitter.com/dojo"><span class="uk-margin-small-right" uk-icon="icon: twitter"></span> Twitter</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</div>
