<header class="header">
	<div class="container">
		<nav class="navbar">
			<div class="navbar-brand">
				<a href="/" class="navbar-item"><img src="/images/logos/dojo2-logo-white.svg" class="site-logo" alt="Dojo"></a>
				<div class="navbar-burger">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
			<div class="navbar-menu">
				<div class="navbar-start"></div>
				<div class="navbar-end">
					<a class="navbar-item" href="/tutorials">Tutorials</a>
					<a class="navbar-item" href="/api">API</a>
					<a class="navbar-item" href="/blog">Blog</a>
					<a class="navbar-item" href="https://github.com/dojo/meta"><span class="icon is-medium"><i class="fa fa-github" aria-hidden="true"></i></span></a>
				</div>
			</div>
		</nav>
	</div>
</header>