<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
	<div class="uk-container uk-container-expand uk-navbar-container">
		<nav class="uk-navbar" uk-navbar>
			<div class="uk-navbar-left">
				<a href="/" class="navbar-item"><img src="/images/logos/dojo2-logo-white.svg" class="uk-logo site-logo" alt="Dojo"></a>
			</div>
			<div class="uk-navbar-right">
				<div class="navbar-start"></div>
				<ul class="uk-navbar-nav">
					<li><a class="navbar-item" href="/docs/index.html#dojo/cli/master">Docs</a></li>
					<li><a class="navbar-item" href="/tutorials/000_local_installation/">Tutorials</a></li>
					<li><a class="navbar-item" href="/blog">Blog</a></li>
					<li><a class="navbar-item" href="https://github.com/dojo/meta"><span class="icon is-medium"><i class="fa fa-github" aria-hidden="true"></i></span></a></li>
				</ul>
			</div>
		</nav>
	</div>
</div>