<ul class="uk-nav" data-uk-nav>
	<%- partial('_partial/nav') %>
  <li class="uk-parent">
	  <a class="navbar-item">Community</a>
		  <ul class="uk-nav-sub">
			  <%- partial('_partial/community-nav') %>
		  </ul>
	  </div>
  </li>
</ul>
