<ul class="uk-nav" data-uk-nav>
  <li class="<%- is_current('/docs') ? 'uk-active' : '' %>"><a class="navbar-item" href="/docs/index.html#doc--dojo__cli__master">Docs</a></li>
  <li class="<%- is_current('/tutorials') ? 'uk-active' : '' %>"><a class="navbar-item " href="/tutorials/000_local_installation/">Tutorials</a></li>
  <li class="<%- is_current('/blog') ? 'uk-active' : '' %>"><a class="navbar-item" href="/blog">Blog</a></li>
  <li class="uk-parent">
	  <a class="navbar-item">Community</a>
		  <ul class="uk-nav-sub">
			  <li><a href="https://github.com/dojo/meta"><span class="uk-margin-small-right" uk-icon="icon: github"></span> Github</a></li>
			  <li><a href="https://gitter.im/dojo/dojo"><span class="uk-margin-small-right" uk-icon="icon: gitter"></span> Gitter</a></li>
			  <li><a href="https://twitter.com/dojo"><span class="uk-margin-small-right" uk-icon="icon: twitter"></span> Twitter</a></li>
			  <li><a href="https://discourse.dojo.io/"><span class="uk-margin-small-right" uk-icon="icon: comments"></span> Discourse</a></li>
		  </ul>
	  </div>
  </li>
</ul>
