<li><a class="navbar-item" href="/docs.html">Docs</a></li>
<li><a class="navbar-item " href="/tutorials">Tutorials</a></li>
<li><a class="navbar-item" href="/blog">Blog</a></li>
<li><a class="navbar-item" href="/community">Community</a></li>