<li><a class="navbar-item" href="/docs/index.html#doc--dojo__cli__master">Docs</a></li>
<li><a class="navbar-item " href="/tutorials/000_local_installation/">Tutorials</a></li>
<li><a class="navbar-item" href="/blog">Blog</a></li>
