<div class="paginator">
	<div class="container paginator-controls">
		<nav id="paginator" class="pagination is-centered" role="navigation" aria-label="pagination">
				<a class="pagination-previous">Previous</a>
				<a class="pagination-next">Next page</a>
				<ul class="pagination-list">

				</ul>
		</nav>
	</div>
</div>


<script src="/js/tutorial-support.js"></script>
<script>
	function isMobile() {
		if( navigator.userAgent.match(/Android/i)
		|| navigator.userAgent.match(/webOS/i)
		|| navigator.userAgent.match(/iPhone/i)
		|| navigator.userAgent.match(/iPad/i)
		|| navigator.userAgent.match(/iPod/i)
		|| navigator.userAgent.match(/BlackBerry/i)
		|| navigator.userAgent.match(/Windows Phone/i)
		){
			return true;
		}
		else {
			return false;
		}
	}
	if (isMobile()) {
		(function() {
			var paginator = document.querySelector('.paginator');
			paginator && paginator.parentNode.removeChild(paginator);
			var sections = document.querySelectorAll('section.tutorial');
			for (var i = 0; i < sections.length; i++) {
				var section = sections[i];
				section.classList.remove('hidden', 'hiding');
			}
		})();
	}
	else {
		tutorial.populatePaginator(document.getElementById('paginator'), <%- "'"+page.title+"'" %>);
	}
</script>
