<aside class="menu">
	<p class="menu-label">
		Tutorials
	</p>
	<ul class="menu-list">
		<%
			var tuts = _.filter(site.pages.data, ['layout', 'tutorial']);
			tuts = _.orderBy(tuts, ['path']);

			_.each(tuts, function(tut) {
			// remove index.html from the path to make relative URLs work consistently
			var urlRaw = tut.path.substr(0, tut.path.length - 10 /* length of 'index.html' */);
		%>
				<li><a href="<%- url_for(urlRaw) %>"><%- tut.title %></a></li>
		<%
			});
		%>
	</ul>
</aside>