// Modify the Bulma variables before importing Bulma

$primary: #459DF8;
$link: darken($primary, 5%);
$link-hover: $primary;
$navbar-item-color: #fff;
$navbar-item-hover-background-color: transparent;