/////////////////
// Semantic.gs // for Stylus: http://learnboost.github.com/stylus/
/////////////////

// Utility function — you should never need to modify this
// _gridsystem-width = ($column-width + $gutter-width) * $columns
gridsystem-width(_$columns = $columns)
  ($column-width + $gutter-width) * _$columns

// Set @total-width to 100% for a fluid layout
// total-width = gridsystem-width($columns)
total-width = 100%

//////////
// GRID //
//////////

body
  clearfix()
  width: 100%

row(_$columns = $columns)
  clearfix()
  display: block
  width: total-width * (($gutter-width + gridsystem-width(_$columns)) / gridsystem-width(_$columns))
  margin: 0 total-width * ((($gutter-width * .5) / gridsystem-width(_$columns)) * -1)

column(x, _$columns = $columns)
  display: inline
  float: left
  width: total-width * (((($gutter-width + $column-width) * x) - $gutter-width) / gridsystem-width(_$columns))
  margin: 0 total-width * (($gutter-width * .5) / gridsystem-width(_$columns))

push(offset = 1)
  margin-left: total-width * ((($gutter-width + $column-width) * offset) / gridsystem-width($columns))

pull(offset = 1)
  margin-right: total-width * ((($gutter-width + $column-width) * offset) / gridsystem-width($columns))
