// Typesettings values are in variables file
// These override Typesettings

html,
body {
	font-family: $default-font;
}

code {
	background: $light;
	color: $color-inline-code;
	font-family: $font-code;
	font-size: 0.8em;
}

p {
	max-width: $max-width;
}

.container {
	max-width: $max-width;
}

code[class*="language-"] {
	padding: 0;
}


@for $i from 1 through 6 {
	h#{$i} {
		font-family: $heading-font;
		font-weight: 400;
	}
}
