// Typesettings values are in variables file
// These override Typesettings, Bulma and Prism
// Nest everything in html,body so that we don't have to use !important
html,
body {
	font-family: $default-font;

	p {
		max-width: 100%;
	}

	// Set padding on outer code block
	pre[class*="language-"] {
		padding: 1.25rem;
	}

	// Normalize code font sizes
	code[class*="language-"],
	pre[class*="language-"],
	code {
		font-size: $code-font-size;
	}

	// Remove padding for code blocks so that we don't get double padding from the pre
	code[class*="language-"],
	pre[class*="language-"] code {
		border: 0;
		padding: 0;
		line-height: 1.35;
	}

	// Inline code
	code:not([class*="language-"]) {
		color: $color-inline-code;
		background: $color-code-background;
		border: 1px solid #dddddd;
		border-radius: 3px;
		font-family: $font-code;
		white-space: nowrap;
	}

	pre code:not([class*="language-"]) {
		white-space: pre;
	}

	@for $i from 1 through 6 {
		h#{$i} {
			font-family: $heading-font;
			font-weight: 400;
		}
	}

	h1 {
		font-weight: 300;
	}
}
