<%- partial('_partial/archive', {pagination: 2, index: true}) %>
<div id="mobile-sidebar" class="sidebar-left" uk-offcanvas>
	<div class="uk-offcanvas-bar">
		<div>
			<%- partial('_partial/main-nav') %>
		</div>
	</div>
</div>
