<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-3">
				<%- partial('_partial/cookbook-nav') %>
			</div>
			<div class="column is-9 article">
				<%- page.content %>
			</div>
		</div>
	</div>
</section>
