<section class="section">
	<div class="container docs">
		<div class="uk-offcanvas-content">
			<div class="sidebar-left uk-visible@m">
				<%- partial('_partial/docs-nav') %>
			</div>
			<div class="uk-section uk-section-default">
				<div class="uk-container uk-container-small uk-position-relative doc-detail">
					<script async src="/js/repo_docs.js"></script>
				</div>
			</div>
		</div>
	</div>
</section>
