<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-3">

			</div>
			<div class="column is-9">
				<%- page.content %>
			</div>
		</div>
	</div>
</section>