<section class="section">
	<div class="container docs">
		<div class="uk-offcanvas-content has-sidebar-left has-sidebar-right">
			<div class="sidebar-left uk-visible@m">
				<%- partial('_partial/docs-nav') %>
			</div>
			<div id="mobile-sidebar" class="sidebar-left" uk-offcanvas>
				<div class="uk-offcanvas-bar">
					<%- partial('_partial/docs-nav') %>
				</div>
			</div>
			<div class="uk-section uk-section-default">
				<div class="uk-container uk-container-small uk-position-relative .uk-width-1@m doc-detail">
					<script async src="/js/repo_docs.js"></script>
				</div>
			</div>
			<div class="sidebar-right uk-visible@m">
			</div>
		</div>
	</div>
</section>
