<section class="section">
	<div class="container docs">
		<div class="uk-offcanvas-content has-sidebar-left has-sidebar-right">
			<div id="sidebar-nav" class="sidebar-left uk-offcanvas">
				<div>
					<%- partial('_partial/docs-nav') %>
				</div>
			</div>
			<div class="uk-section uk-section-default">
				<div class="uk-container uk-container-small uk-position-relative .uk-width-1@m doc-detail">
					<script src="/js/dependencies.js"></script>
					<script async src="/js/repo_docs.js"></script>
				</div>
			</div>
			<div class="sidebar-right uk-visible@m">
			</div>
		</div>
	</div>
</section>
