<section class="section">
	<div class="container">
		<div class="uk-offcanvas-content">
			<div class="sidebar-left uk-visible@m">
				<%- partial('_partial/docs-nav') %>
			</div>
			<div class="uk-section uk-section-default">
				<div class="uk-container uk-container-small uk-position-relative">
					<%- page.content %>
				</div>
			</div>
		</div>
	</div>
</section>