<%- partial('_partial/docs/nav', { active: 'guide' }) %>
<%- partial('_partial/docs/table-of-contents', { src: "guide" }) %>
<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-9 article">
				<%- page.content %>
			</div>
		</div>
	</div>
</section>
