<div class="bodyContainer">
	<img src="images/home/dragon2.svg" class="dragon">
	<h1 class="teaser">Dojo is evolving</h1>
	<h3 class="title is-6">A better way to create enterprise web apps is coming</h3>
</div>