<div class="bodyContainer">
	<img src="images/home/dragon2.svg" class="dragon">
	<h1 class="teaser">Dojo is evolving</h1>
	<h2 class="sub">A better way to create enterprise web apps is coming</h2>
	<a href="https://github.com/dojo/meta" class="btn"><img src="/images/home/gh.svg" class="gh"></a>
</div>