layout: false
---
<!DOCTYPE html>
<!-- saved from url=(0015)http://dojo.io/ -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Dojo</title>
	<link rel="stylesheet" href="./css/main.css">
	<link rel="shortcut icon" href="http://dojo.io/images/favicons/favicon.ico">
	<link rel="icon" type="image/png" sizes="16x16" href="http://dojo.io/images/favicons/favicon-16x16.png">
	<link rel="icon" type="image/png" sizes="32x32" href="http://dojo.io/images/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="http://dojo.io/images/favicons/favicon-48x48.png">
	<link rel="icon" type="image/png" sizes="16x16" href="http://dojo.io/images/favicons/favicon-256x256.png">
	<meta property="og:image" content="http://dojo.io/images/og.jpg">
	<meta property="og:site_name" content="Dojo">
	<meta property="og:type" content="article">
	<meta property="og:title" content="Dojo is evolving">
	<meta property="og:description" content="A better way to create enterprise web apps is coming.">
	<meta property="og:locale" content="en_US">
</head>
<body>
<div class="container">
	<img src="./images/dragon2.svg" class="dragon">
	<h1 class="teaser">Dojo is evolving</h1>
	<h2 class="sub">A better way to create enterprise web apps is coming</h2>
	<a href="https://github.com/dojo/meta" class="btn"><img src="./images/gh.svg" class="gh"></a>
</div>

</body></html>
