<div class="tutorial-content">
	<div class="scrollable">
		<%- page.content %>
	</div>

	<%
		if(!page.nosections) {
	%>
		<div id="actionBar" class="action-bar"></div>
		<style>
			html, body {
				height: 100%;
			}
		</style>
		<script src="/js/tutorial-support.js"></script>
		<script>
			tutorial.populateActionBar(document.getElementById('actionBar'));
		</script>
	<% } %>
</div>
