<section class="section">
	<div class="container">
		<div class="uk-grid" uk-grid>
			<div class="uk-width-auto sidenav">
				<%- partial('_partial/tutorials-nav') %>	
			</div>
			<div class="uk-width-expand">
				<%- page.content %>
			</div>
		</div>
	</div>
</section>