<div class="container article">	
	<h4 class="tutorial-title title is-6 hidden"><%- page.title %></h4>
	<%- page.content %>
	<div class="section-one hidden"><a class="button is-primary begin-button">Begin Tutorial</a></div>
</div>