<div class="section">
	<div class="container article">	
		<nav class="breadcrumb is-small hidden" aria-label="breadcrumbs">
			<ul>
				<li><a href="/tutorials">Tutorials</a></li>
				<li><a href="#"><%- page.title %></a></li>
				<li class="is-active"><a class="step-current"></a></li>
			</ul>
		</nav>
		<%- page.content %>
		<div class="section-one hidden"><a class="button is-primary begin-button">Begin Tutorial</a></div>
	</div>
</div>