<div class="tutorial-content">
	<div class="scrollable">
		<div class="container"><%- page.content %></div>
	</div>
</div>
<%
	if(!page.nosections) {
%>
	<div id="actionBar" class="action-bar"></div>
	<script src="/js/tutorial-support.js"></script>
	<script>
		tutorial.populateActionBar(document.getElementById('actionBar'));
	</script>
<% } %>
