html,
body {
	height: 100%;
	margin: 0;
}

// Fixed header + sticky footer
.page-wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.content-wrapper {
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow-y: auto;

	.page-content {
		flex: 1 0 auto;

		.footer {
			flex: none;
		}
	}
}



.is-full-height {
	height: 100%;
}
