html,
body {
	height: 100%;
	margin: 0;
}

// Fixed header + sticky footer
.page-wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.content-wrapper {
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow-y: auto;

	.page-content {
		flex: 1 0 auto;
		padding-top: 2rem;
		padding-bottom: 2rem;
		
		.footer {
			flex: none;
		}
	}
}

.article {
	* {
		margin-left: auto;
		margin-right: auto;
		max-width: $article-max-width;
	}

	pre[class*="language-"] {
		max-width: $article-block-max-width;
		margin-bottom: 2rem;
		* {
			max-width: $article-block-max-width;
		}
	}
}


.is-full-height {
	height: 100%;
}