$mobile-break: 768px;

html,
body {
	background: $page-background;
	margin: 0;
}

.page-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.content-wrapper {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	overflow-y: auto;
	overflow-x: hidden;
	margin-top: 0;

	@media screen and (max-width: $mobile-break) {
		-webkit-overflow-scrolling: touch;
	}

	.page-content {
		flex: 1 0 auto;
		padding-bottom: 2rem;

		.footer {
			flex: none;
		}
	}
}

@media (min-width: 1400px) {
	.sidebar-left, .sidebar-right {
		width: $sidenav-width !important;
		padding: 45px 45px 60px 45px;
	}
}


.sidebar-left,
.sidebar-right {
	position: fixed;
	top: 80px;
	bottom: 0;
	box-sizing: border-box;
	overflow: auto;
}

.sidebar-left {
	padding: 40px 40px 60px 40px;
	border-right: 1px #e5e5e5 solid;
	width: $sidenav-width !important;
}

.sidebar-right {
	right: 0;
	padding: 40px 40px 60px 0;
	width: $sidenav-right-width !important;
}

.has-sidebar-left .uk-section {
	padding-left: $sidenav-width;
}

.has-sidebar-right .uk-section {
	padding-right: $sidenav-right-width;
}

.uk-navbar .uk-navbar-left .uk-navbar-nav > li > a {
	padding-left: 0;
}

@media (max-width: 960px) {
	html, body {
		font-size: $global-font-size * 0.9;
	}

	.has-sidebar-left .uk-section {
		padding-left: 0;
	}
}

@media (max-width: 1200px) {
	.has-sidebar-right .uk-section {
		padding-right: 0;
	}
}



.sp-card-shadow {
	box-shadow: $global-xlarge-box-shadow;
}

.sp-button-round {
	border-radius: 3rem;
	text-transform: uppercase;
}

.uk-navbar-dropdown {
	a {
		font-size: $navbar-nav-item-font-size;
	}
}