$logo-size = 40px;
$header-background = #000;

$font-sans:= 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-serif:= 'Source Serif Pro', 'Times New Roman', serif;
$font-mono:= 'Lucida Console', Monaco, monospace;
$text-color:= #000;
$base-vertical-unit:= 8px;
$base-line-multi:= 4;
$base-font-size:= 21px
// Set the default ratio
$modular_scale = $fourth;
$ms-ratio:= $modular_scale;

$paragraph-indent:= false;
$paragraph-justify:= true;
$load-typesetted:= true;