// Colors
$color-default = rgba(0,0,0,0.8);
$color-meta = $color-default;
$color-grey = #999;
$color-border = #ddd;
$color-link = #258fb8;
$color-background = #fff;
$color-widget-background  = #ddd;
$color-widget-border = #ccc;
$color-footer-background = none;
$color-mobile-nav-background = #191919;
$color-twitter = #00aced;
$color-facebook = #3b5998;
$color-pinterest = #cb2027;
$color-google = #dd4b39;

$header-background = #24292E;
$logo-size = 40px;


/* Your settings for Typesettings :) */
$font-slab = 'Roboto Slab', serif;
$font-sans:= $font-slab;
$font-serif:= 'Droid Serif', serif;
$font-mono:= 'Roboto Mono', Monaco, monospace;

$text-color:= $color-default;
$base-vertical-unit:= 8px;
$base-line-multi:= 4;
$base-font-size:= 18px;
$ms-ratio:= 1.250;
$paragraph-indent:= false;
$paragraph-justify:= true;
$load-typesetted:= true;

$default-color = $blue