// Colors
$color-default = rgba(0,0,0,0.8);
$color-meta = $color-default;
$color-grey = #999;
$color-background-light = #fdfdfd;
$color-border = #eee;
$color-link = #258fb8;
$color-code-background = #fff;
$color-inline-code = #C94169;
$color-background = #F5F8F9;
$color-widget-background  = #ddd;
$color-widget-border = #ccc;
$color-mobile-nav-background = #191919;
$color-twitter = #00aced;
$color-facebook = #3b5998;
$color-pinterest = #cb2027;
$color-google = #dd4b39;

$header-background = #222127;
$footer-background = #fff;

/* Your settings for Typesettings :) */
/* https://github.com/ianrose/typesettings */

$heading-font = 'Roboto Slab', serif;
$default-font = 'Lato', sans-serif;
$font-mono = 'Source Code Pro', Monaco, monospace;
$font-code = $font-mono;

$text-color:= $color-default;
$base-vertical-unit = 8px;
$base-line-multi = 4;
$base-font-size = 18px;
$ms-ratio = 1.250;
$paragraph-indent = false;
$paragraph-justify = true;
$load-typesetted = true;


// Rupture Settings
scale = 0 400px 600px 800px 1050px



/* Sizing */

//Max width of outer container
$max-width = 1280px;
$content-max-width = 1280px;
$article-max-width = 1280px;


$logo-size = rem(40px);


