@import './../../../variables';

.root {
	height: 38px;
	border: 1px solid var(--input-border);
	background: var(--card);
	color: var(--accent);
	font-size: 16px;
	font-weight: bold;
	padding: 8px;
	min-width: 150px;
	vertical-align: bottom;
}
