<header class="site-header">
    <div class="content-container">
        <div class="row">
            <nav class="site-nav">
                <a href="/" class="header-logo"><img src="/images/dojo2-logo-white.svg" alt="Dojo"></a>
                <a class="main-nav-link" href="/tutorials">Tutorials</a>
                <a class="main-nav-link" href="/api">API</a>
                <a class="main-nav-link" href="/blog/2017/03/27/Dojo-2-is-coming">Blog</a>
                <a class="main-nav-link main-nav-icon-link" href="https://github.com/dojo/meta"><img src="/images/logos/github-white.svg" alt="Dojo on Github" class="nav-icon github"></a>
            </nav>
        </div>
    </div>
</header>