.header {
	background: $header-background;
	padding: 0.75rem;
	position: fixed;
	width: 100%;
	z-index: 9999;

	@media screen and (max-width: $mobile-break) {
		padding: 0.5rem;
	}

}

.navbar {
	background: transparent;

	.navbar-brand .navbar-item {
		&:hover {
			background: transparent;
		}
	}

	.navbar-item {
		//@include default-transition();
		text-transform: uppercase;
		font-size: 0.9rem;

		img {
			max-height: 2rem;
		}
	}

	.site-logo {
		height: 48px;
		width: 110px;
	}

	.navbar-burger {
		span {
			background: $light;
		}
		&:hover {
			background: $primary;
			span {
				background: $dark;
			}
		}
	}
}
