.paginator {
	padding-top: 1rem;
	padding-bottom: 1rem;
	
	.hidden {
		opacity: 0;
		display: flex !important;
	}
	
	.pagination {
		ul {
			margin: 0;
			li {
				list-style-type: none;
			}
		}
	}
}