.paginator {
	padding-top: 1rem;
	padding-bottom: 1rem;
	transform: scaleY(1);
	transition: all 0.3s;
	@include fadeInUp();
	position: fixed;
	bottom: 0;
	width: 100%;


	ul {
		margin: 0;
		padding: 0;
		li {
			list-style-type: none;
		}
	}

}
