aside.menu {
	min-width: 10em;
	max-width: 20em;
	padding: 1em 2em;
	background-color: #EEE;
	border-right: 1px solid #BBB;
	flex: 1 0 15em;

	.sub-nav {
		display: none;
	}

	.is-active {
		a {
			color: #2499D4;
		}

		.sub-nav {
			display: inherit;
		}
	}
}

.menu-list {
	margin: 0;
	.active {
		border-left:3px solid $primary;
		text-indent:-3px;
		background: whitesmoke;
	}
	li {
		list-style-type: none;
		margin-left:-.75em;
	}
}
