<section class="accessibility">
	<div class="animation">
		<div class="english">Hello, World!</div>
		<div class="french">Bonjour le monde</div>
		<div class="spanish">Hola Mundo</div>
		<div class="german">Hallo, Welt</div>
		<div class="russian">Привет мир</div>
		<div class="thai">สวัสดีชาวโลก</div>
		<div class="chinese">你好，世界</div>
	</div>
	<div class="content">
		<img src="/images/icon-internationalization.svg" alt="">
		<h2>
			Accessibility and
			Internationalization
			Out of the Box
		</h2>
		<p>
			Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at
			rissus et justo dignissim congue. Donec congue lacinia dui, a prttitor lectus.
			Donec congue lacinia dui, a porttitor lecus.
		</p>
		<a href="/tutorials/comingsoon.html">
			See the Tutorial
		</a>
	</div>
</section>
