<section class="accessibility">
	<div class="animation">
		div.
	</div>
	<div class="content">
		<img src="/images/icon-internationalization.svg" alt="">
		<h2>
			Accessibility and
			icon-internationalization
			Out of the Box
		</h2>
		<p>
			Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at
			rissus et justo dignissim congue. Donec congue lacinia dui, a prttitor lectus.
			Donec congue lacinia dui, a porttitor lecus.
		</p>
		<a href="/tutorials/comingsoon.html">
			See the Tutorial
		</a>
	</div>
</section>
