<section class="create-custom-components">
	<div class="copy">
		<h2>
			Create Custom Web Components
		</h2>
		<p>
			Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula
			lacinia scelerisque tempo, lacus lacus ornare ante, ac egestas egestas
			urna sit amet arcu. Class aptent tacici sociosqu ad litora torquent
			per conubia nostra, per inceptos.
		</p>
		<button>
			See the Tutorial
		</button>
	</div>
	<div class="demo">
		<div class="menu-list">
			<span class="menu1">
				Menu 1
			</span>
			<span class="menu2">
				Menu 2
			</span>
			<span class="menu3">
				Menu 3
			</span>
			<span class="menu4">
				Menu 4
			</span>
		</div>
		<div class="code">
			<div class="codeline">
				<span class="html">
						&lt;menu&gt;
				</span>
			</div>
			<div class="codeline indent menu1">
				<span class="html">
					&lt;menu-item&gt;
				</span>
				<span class="text">
					Menu 1
				</span>
				<span class="html">
					&lt;/menu-item&gt;
				</span>
			</div>
			<div class="codeline indent menu2">
				<span class="html">
					&lt;menu-item&gt;
				</span>
				<span class="text">
					Menu 2
				</span>
				<span class="html">
					&lt;/menu-item&gt;
				</span>
			</div>
			<div class="codeline indent menu3">
				<span class="html">
					&lt;menu-item&gt;
				</span>
				<span class="text">
					Menu 3
				</span>
				<span class="html">
					&lt;/menu-item&gt;
				</span>
			</div>
			<div class="codeline indent menu4">
				<span class="html">
					&lt;menu-item&gt;
				</span>
				<span class="text">
					Menu 4
				</span>
				<span class="html">
					&lt;/menu-item&gt;
				</span>
			</div>
			<div class="codeline">
				<span class="html">
						&lt;menu&gt;
				</span>
			</div>
		</div>
	</div>
</section>
