<section class="embrace-platform">
	<div class="copy">
		<div>
			<img src="/images/icon-components.svg" alt="components">
		</div>
		<h2>
			Embracing the Web Platform
		</h2>
		<p>
			Dojo strives for maximum interoperability. Web components provide a mechanism to leverage non-Dojo components within a Dojo application, and to effortlessly use your Dojo-based widgets in non-Dojo applications. Dojo provides first class support for web components. The decisions you make today should not lock you into decisions for the future.
		</p>
		<a href="/tutorials/comingsoon.html">
			See the Tutorial
		</a>
	</div>
	<div class="demo">
		<span class="menu-list">
			<div class="background"></div>
			<div class="menu-item menu1">
				<span class="active">
					Menu 1
				</span>
			</div>
			<div class="menu-item menu2">
				<span>
					Menu 2
				</span>
			</div>
			<div class="menu-item menu3">
				<span>
					Menu 3
				</span>
			</div>
			<div class="menu-item menu4">
				<span>
					Menu 4
				</span>
			</div>
		</span>
		<div class="code">
			<div class="codeline">
				<span class="html">
						&lt;menu&gt;
				</span>
			</div>
			<div class="codeline indent menu1">
				<span class="html">
					&lt;menu-item&gt;
				</span>
				<span class="text">
					Menu 1
				</span>
				<span class="html">
					&lt;/menu-item&gt;
				</span>
			</div>
			<div class="codeline indent menu2">
				<span class="html">
					&lt;menu-item&gt;
				</span>
				<span class="text">
					Menu 2
				</span>
				<span class="html">
					&lt;/menu-item&gt;
				</span>
			</div>
			<div class="codeline indent menu3">
				<span class="html">
					&lt;menu-item&gt;
				</span>
				<span class="text">
					Menu 3
				</span>
				<span class="html">
					&lt;/menu-item&gt;
				</span>
			</div>
			<div class="codeline indent menu4">
				<span class="html">
					&lt;menu-item&gt;
				</span>
				<span class="text">
					Menu 4
				</span>
				<span class="html">
					&lt;/menu-item&gt;
				</span>
			</div>
			<div class="codeline">
				<span class="html">
						&lt;menu&gt;
				</span>
			</div>
		</div>
	</div>
</section>
