<section class="features container">
	<div class="typescript feature">
		<div class="icon">
			<img src="/images/icon-typescript.svg" alt="typescript">
		</div>
		<h4>
			TypeScript
		</h4>
		<p>
			<a href="/docs/fundamentals/typescript_and_dojo_2/index.html">TypeScript’s</a> type system, interfaces, and transpiler facilitate more efficient engineering for enterprise development.
		</p>
	</div>
	<div class="widget-authoring feature">
		<div class="icon">
			<img src="/images/icon-widget-authoring.svg" alt="widget authoring">
		</div>
		<h4>
			Easy Widget Authoring
		</h4>
		<p>
			Via CSS Modules, the virtual DOM, strong typing, good theming tools and web components, Dojo provides a powerful approach to
			<a href="/tutorials/003_creating_widgets/">widget authoring</a>.
		</p>
	</div>
	<div class="routing feature">
		<div class="icon">
			<img src="/images/icon-routing.svg" alt="routing">
		</div>
		<h4>
			Routing &amp; SPAs
		</h4>
		<p>
			Modern
			<a href="/tutorials/1030_routing/">routing</a>,
			history, and
			<a href="/tutorials/1010_containers_and_injecting_state/">state management</a>
			 provide the foundation for robust single page application development.
		</p>
	</div>
</section>
