<section class="features">
	<div class="typescript feature">
		<div class="icon">
			<img src="/images/icon-typescript.svg" alt="typescript">
		</div>
		<strong>
			TypeScript
		</strong>
		<p>
			TypeScript is JavaScript and it's got like
			Typings and makes developers better.
		</p>
	</div>
	<div class="widget-authoring feature">
		<div class="icon">
			<img src="/images/icon-widget-authoring.svg" alt="widget authoring">
		</div>
		<strong>
			Easy Widget Authoring
		</strong>
		<p>
			Easy Peasy. That's how we refer to our
			widget solution. Vdom, web components,
			modularity and fun!
		</p>
	</div>
	<div class="routing feature">
		<div class="icon">
			<img src="/images/icon-routing.svg" alt="routing">
		</div>
		<strong>
			Routing &amp; SPAs
		</strong>
		<p>
			So there's this router and it's pretty
			sweet. We rewrote it several times to
			make it basically, rad.
		</p>
	</div>
</section>
