<section class="features">
	<div class="three-acrosss">
		<div>
			<img src="https://via.placeholder.com/145x145" alt="">
			<h2>
				TypeScript
			</h2>
		</div>
		<div>
			<img src="https://via.placeholder.com/145x145" alt="">
			<h2>
				Easy Widget Authoring
			</h2>
		</div>
		<div>
			<img src="https://via.placeholder.com/145x145" alt="">
			<h2>
				Routing &amp; SPAs
			</h2>
		</div>
	</div>
</section>
