<section class="hero">
	<div class="shapes">
		<div class="sphere lower-left"></div>
		<div class="sphere upper-right"></div>
		<div class="cube-scene upper-left">
			<div class="cube">
				<div class="side back"></div>
				<div class="side right"></div>
				<div class="side left"></div>
				<div class="side top"></div>
				<div class="side bottom"></div>
				<div class="side front"></div>
			</div>
		</div>
		<div class="cube-scene lower-left">
			<div class="cube">
				<div class="side back"></div>
				<div class="side right"></div>
				<div class="side left"></div>
				<div class="side top"></div>
				<div class="side bottom"></div>
				<div class="side front"></div>
			</div>
		</div>
		<div class="cube-scene upper-right">
			<div class="cube">
				<div class="side back"></div>
				<div class="side right"></div>
				<div class="side left"></div>
				<div class="side top"></div>
				<div class="side bottom"></div>
				<div class="side front"></div>
			</div>
		</div>
		<div class="pyramid-gyro">
			<div class="pyramid-axis">
			  <div class="pyramid-wall front"></div>
			  <div class="pyramid-wall back"></div>
			  <div class="pyramid-wall left"></div>
			  <div class="pyramid-wall right"></div>
			  <div class="bottom"></div>
			</div>
		  </div>
	</div>
	<h1>
		Enterprise-grade Web Application Development
	</h1>
	<div>
		<div class="top-spacer"></div>
		<button class="call-to-action">
			Build with Dojo
		</button>
		<div class="bottom-spacer"></div>
	</div>
	<div class="highlight">
		<div>
			<h3>
				<span class="red">
					▢
				</span>
				Productive
			</h3>
			<p>
				Enterprise development is hard work.
				We set out to make that easier, with
				solutions that make large scale
				development more productive.
			</p>
		</div>
		<div>
			<h3>
				<span class="blue">
					△
				</span>
				Adaptable
			</h3>
			<p>
				The web is an open platform. We won't
				solve every problem, so we focus on
				making it easy to integrate Dojo with
				other solutions.
			</p>
		</div>
		<div>
			<h3>
				<span class="purple">
					◯
				</span>
				Accessible
			</h3>
			<p>
				Web apps should be for everyone,
				irrespective of language or ability. We make
				it easier to create internationalized and
				accessible web applications.
			</p>
		</div>
	</div>
</section>
