<section class="hero">
	<div class="container">
		<h1>
			Enterprise-grade <br> Web Application Development
		</h1>
		<a href="/tutorials" class="call-to-action">
			Build with Dojo
		</a>
		<div class="highlight">
			<div>
				<h3>
					<span class="red">
						▢
					</span>
					Productive
				</h3>
				<p>
					Dojo enables teams to build web applications with a deliberate approach to productivity, sustainability and code management.
				</p>
			</div>
			<div>
				<h3>
					<span class="blue">
						△
					</span>
					Adaptable
				</h3>
				<p>
					Intent on not reinventing the wheel, Dojo allows for easy integration with  the most powerful solutions available today on the open web.
				</p>
			</div>
			<div>
				<h3>
					<span class="purple">
						◯
					</span>
					Inclusive
				</h3>
				<p>
					Demand for accessibility and internationalization are required for enterprise web applications.  Dojo supports inclusivity and provides both.
				</p>
			</div>
		</div>
	</div>
</section>
