<section class="hero">
	<div class="shapes">
		<!--
		<div class="sphere lower-left"></div>
		<div class="sphere upper-right"></div>
		<div class="cube-scene upper-left">
			<div class="cube">
				<div class="side back"></div>
				<div class="side right"></div>
				<div class="side left"></div>
				<div class="side top"></div>
				<div class="side bottom"></div>
				<div class="side front"></div>
			</div>
		</div>
		<div class="cube-scene lower-left">
			<div class="cube">
				<div class="side back"></div>
				<div class="side right"></div>
				<div class="side left"></div>
				<div class="side top"></div>
				<div class="side bottom"></div>
				<div class="side front"></div>
			</div>
		</div>
		<div class="cube-scene upper-right">
			<div class="cube">
				<div class="side back"></div>
				<div class="side right"></div>
				<div class="side left"></div>
				<div class="side top"></div>
				<div class="side bottom"></div>
				<div class="side front"></div>
			</div>
		</div>
		<div class="pyramid-gyro">
			<div class="pyramid-axis">
			  <div class="pyramid-wall front"></div>
			  <div class="pyramid-wall back"></div>
			  <div class="pyramid-wall left"></div>
			  <div class="pyramid-wall right"></div>
			  <div class="bottom"></div>
			</div>
		  </div>
		-->
	</div>
	<div class="container">
		<h1>
			Enterprise-grade <br> Web Application Development
		</h1>
		<a href="/tutorials" class="call-to-action">
			Build with Dojo
		</a>
		<div class="highlight">
			<div>
				<h3>
					<span class="red">
						▢
					</span>
					Productive
				</h3>
				<p>
					Dojo enables teams to build web applications with a deliberate approach to productivity, sustainability and code management.
				</p>
			</div>
			<div>
				<h3>
					<span class="blue">
						△
					</span>
					Adaptable
				</h3>
				<p>
					Intent on not reinventing the wheel, Dojo allows for easy integration with  the most powerful solutions available today on the open web.
				</p>
			</div>
			<div>
				<h3>
					<span class="purple">
						◯
					</span>
					Inclusive
				</h3>
				<p>
					Demand for accessibility and internationalization are required for enterprise web applications.  Dojo supports inclusivity and provides both.
				</p>
			</div>
		</div>
	</div>
</section>
