<section class="hero">
	<h1>
		Enterprise-grade Web Application Development
	</h1>
	<div>
		<div class="top-spacer"></div>
		<button class="call-to-action">
			Build with Dojo
		</button>
		<div class="bottom-spacer"></div>
	</div>
	<div class="highlight">
		<div>
			<h3>
				Productive
			</h3>
			<p>
				Enterprise development is hard work.
				We set out to make that easier, with
				solutions that make large scale
				development more productive.
			</p>
		</div>
		<div>
			<h3>
				Adaptable
			</h3>
			<p>
				The web is an open platform. We won't
				solve every problem, so we focus on
				making it easy to integrate Dojo with
				other solutions.
			</p>
		</div>
		<div>
			<h3>
				Accessible
			</h3>
			<p>
				Web apps should be for everyone,
				irrespective of language or ability. We make
				it easier to create internationalized and
				accessible web applications.
			</p>
		</div>
	</div>
</section>
