<section class="links">
	<div class="container">
		<h2>
			Build with Dojo
		</h2>
		<a class="reference-guide" href="/docs">
			Reference Guide
		</a>
		<a class="tutorials" href="/tutorials">
			Tutorials
		</a>
		<!--<a class="api" href="/api">
			API Docs
		</a>-->
	</div>
	<div class="bottom-border"></div>
</section>
