<section class="up-and-running">
	<div class="commands">
		<h3>
			Up and Running in Minutes
		</h3>
		<p>
			In condimentum facilisis porta. Sed nec diem eu diam mattis
			viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor
			mauris, quis sollicitudin sapien justo in libero.
		</p>
		<div id="upAndRunning-typing-1" class="code-line">
			<span class="line-number">1</span>
			<span class="typed-text">
				npm install
			</span>
		</div>
		<div id="upAndRunning-typing-2" class="code-line">
			<span class="line-number">2</span>
			<span class="typed-text">
				cli create app
			</span>
		</div>
		<div id="upAndRunning-typing-3" class="code-line">
			<span class="line-number">3</span>
			<span class="typed-text">
				<strong>
					Start the Party 🎉
				</strong>
			</span>
		</div>

	</div>
	<div class="results">
		<div class="code">
			<img src="https://via.placeholder.com/515x340" alt="">
		</div>
		<div class="result">
			<img src="https://via.placeholder.com/400x265" alt="">
		</div>
	</div>
</section>
