<section class="up-and-running">

	<div class="container">
		<div class="commands">
			<h3>
				Up and Running in Minutes
			</h3>
			<p>
				Getting started with Dojo is simple.
			</p>
			<div id="upAndRunning-typing-1" class="codeline">
				<span class="line-number">1</span>
				<span class="typed-text">
					npm i @dojo/cli -g
				</span>
			</div>
			<div id="upAndRunning-typing-2" class="codeline">
				<span class="line-number">2</span>
				<span class="typed-text">
					dojo create --name hello-world
				</span>
			</div>
			<div id="upAndRunning-typing-3" class="codeline">
				<span class="line-number">3</span>
				<span class="typed-text">
					<strong>
						Go!
					</strong>
				</span>
			</div>

		</div>
		<div class="results">
			<div class="code">
				<div class="codeline">
					<span class="keyword">
						import
					</span>
					<span class="variable">
						WidgetBase
					</span>
					<span class="keyword">
						from
					</span>
					<span class="string">'@dojo/widget-core/WidgetBase'</span><span>;</span>
				</div>
				<div class="codeline">
					<span class="keyword">
						import
					</span>
					<span class="variable">
						ProjectorMixin
					</span>
					<span class="keyword">
						from
					</span>
					<span class="string">'@dojo/widget-core/Projector'</span><span>;</span>
				</div>
				<div class="codeline">
					<span class="keyword">
						import
					</span>
					<span>
						{
					</span>
					<span class="variable">
						v
					</span>
					<span>
						}
					</span>
					<span class="keyword">
						from
					</span>
					<span class="string">'@dojo/widget-core/d'</span><span>;</span>
				</div>
			</div>
			<div class="result-shadow"></div>
			<div class="result">
				<div class="check">
					✔
				</div>
				<div class="success">
					Success!
				</div>
			</div>
		</div>
	</div>
</section>
