.body-single-page {

	.page-content .content-container {
		max-width: $article-max-width;
	}

	.article-header {
		margin: pad(2) 0;
	}

	.article-meta {
		margin-top: vr(0);
		text-align: center;
	}

	.article-title {
		article-title();
	}

	.article-entry {
		// Excerpt styling
		& > p:first-of-type {
			font-family: $heading-font;
			font-weight: 300;
			margin-bottom: pad(4);
			text-align: center;
		}
		
		.full-width {
			full();
		}

		img[title*="full"] {
			full();
			margin-bottom: vr(2);
		}
	}
}

.author-meta {
	setType(1, $ms-down2);
	margin: pad(2) 0;

	.author-name {
		font-weight: bold;
		uppercase();
	}
}

.author-avatar {
	object-fit: cover;
	border-radius:50%;
	margin-right: vr(2);
	width: vr(5);
	height: vr(5);
	vertical-align: middle;
}

.article-date {
	padding-left: vr(2);
}