.body-single-page {

	.article-header {
		text-align: center;
	}

	.article-meta {
		margin-top: 0;
		text-align: center;
	}

	.article-title {
		font-size: 3.8rem;
		font-weight: 300;

		@media screen and (max-width: $mobile-break) {
			font-size: 2.4em;
		}
	}

	.article-entry {
		// Excerpt styling
		&>p:first-of-type {
			font-family: $heading-font;
			font-weight: 300;
			margin-bottom: 4rem;
			max-width: 100%;
			text-align: center;
		}

		img[title*=full] {
			position: relative;
			left: 50%;
			right: 50%;
			margin-left: -50vw;
			margin-right: -50vw;
			width: 100vw;
			max-width: 100vw;
		}
	}
}

.author-meta {
	font-size: 0.75rem;
	margin: 2rem 0 1rem 0;

	.author-name {
		font-weight: bold;
		text-transform: uppercase;
	}
}

.author-avatar {
	object-fit: cover;
	border-radius: 50%;
	vertical-align: middle;
}

.article-date {
	padding-left: 1rem;
}
