// Community page
.community-links {
    img {
        width: 100%;
        max-width: 40px;
        height: 100%;
    }
     
    p {
        margin-top: 0.5rem;
    }

    .card-github {
        img {
            max-width: 30px;
        }
    }

    .card-discourse {
        img {
            max-width: 30px;
        }
    }
}