.docs {
    @media (min-width: 960px) {
        .uk-section {
            padding-top: 2.5rem;
        }
    }

    .sidebar-left .uk-nav-header {
        color: #999;

        span {
            cursor: pointer;
        }
    }

    .sidebar-right {
        a {
            overflow-x: hidden;
            text-overflow: ellipsis;
        }
    }
}

.doc-detail {
    max-width: 800px;

    h1 {
       // @extend .uk-heading-primary;

       margin-top: 0;

        &:first-of-type {
            & + p {
                display: none;

                & + p {
                    @extend .uk-text-lead;
                    font-weight: 300;
                }
            }
        }
    }

    h2 {
        @extend .uk-heading-divider;
    }

    h2, h3, h4 {
        cursor: pointer;
        position: relative;

        [uk-icon] {
            display: none;
        }

        &:hover [uk-icon] {
            display: inline-block;
            position: absolute;
            top: 50%;
            left: -25px;
            transform: translateY(-50%);
        }
    }

    h2 {
        &:hover [uk-icon] {
            top: 40%;
        }
    }
}

[data-doc-type="doc"] #sidebar-nav .uk-active [data-doc-type="doc"],
[data-doc-type="api"] #sidebar-nav .uk-active [data-doc-type="api"] {
	color: black;
}

[data-doc-type="doc"] #sidebar-nav .uk-active [data-doc-type="api"],
[data-doc-type="api"] #sidebar-nav .uk-active [data-doc-type="doc"] {
	color: #999;
}


[data-doc-type="doc"] #sidebar-nav.uk-offcanvas .uk-active [data-doc-type="doc"],
[data-doc-type="api"] #sidebar-nav.uk-offcanvas .uk-active [data-doc-type="api"] {
	color: white;
}

[data-doc-type="doc"] #sidebar-nav.uk-offcanvas .uk-active [data-doc-type="api"],
[data-doc-type="api"] #sidebar-nav.uk-offcanvas .uk-active [data-doc-type="doc"] {
	color: rgba(255, 255, 255, 0.5);
}

#sidebar-nav .uk-nav li > a[data-doc-type] {
    display: inline-block;
}

#sidebar-nav.uk-offcanvas {
    border-right: none;
}
