.docs {
    @media (min-width: 960px) {
        .uk-section {
            padding-top: 2.5rem;
        }
    }

    .sidebar-left .uk-nav-header {
        color: #999;

        span {
            cursor: pointer;
        }
    }
}

.doc-detail {
    max-width: 800px;

    h1 {
       // @extend .uk-heading-primary;

       margin-top: 0;

        &:first-of-type {
            & + p {
                display: none;

                & + p {
                    @extend .uk-text-lead;
                    font-weight: 300;
                }
            }
        }
    }

    h2 {
        @extend .uk-heading-divider;
    }

    h2, h3, h4 {
        cursor: pointer;
        position: relative;

        [uk-icon] {
            display: none;
        }

        &:hover [uk-icon] {
            display: inline-block;
            position: absolute;
            top: 50%;
            left: -25px;
            transform: translateY(-50%);
        }
    }

    h2 {
        &:hover [uk-icon] {
            top: 40%;
        }
    }
}

[data-doc-type="doc"] .sidebar-left span[data-doc-type="doc"],
[data-doc-type="api"] .sidebar-left span[data-doc-type="api"] {
	color: black;
}

[data-doc-type="doc"] .sidebar-left a[data-doc-type="api"],
[data-doc-type="api"] .sidebar-left a[data-doc-type="doc"] {
	display: none;
}

[data-doc-type="doc"] #mobile-sidebar .uk-offcanvas-bar .uk-nav-primary .uk-nav-header span[data-doc-type="doc"],
[data-doc-type="api"] #mobile-sidebar .uk-offcanvas-bar .uk-nav-primary .uk-nav-header span[data-doc-type="api"] {
	color: white;
}
