.body-front-page {
	.header,
	.footer {
		background: transparent;
	}

	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;

	.footer {
		color: rgba($light, 0.6);
		text-align: center;
	}

	.bodyContainer {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		width: 90%;
		margin: auto;
		.dragon {
			width: 50%;
			padding-top: 2rem;
		}
		.teaser,
		.title {
			color: #fff;
			font-weight: 300;
			letter-spacing: 0.2rem;
			text-transform: uppercase;
			text-shadow: 0px 0px 7px rgba(0, 0, 0, 1);
			text-align: center;
			margin: 0 auto;
			padding: 0 0 1rem 0;
		}

		> section {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		@import '../_partials/landingPage/hero';
		@import '../_partials/landingPage/upAndRunning';
	}
}
