.body-front-page {

	.header,
	.footer {
		background: transparent;
	}

	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;

	.footer {
		color: rgba($light, 0.6);
		text-align: center;
	}

	.bodyContainer {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		height: 100%;

		@import '../_partials/landingPage/hero';
		@import '../_partials/landingPage/upAndRunning';
		@import '../_partials/landingPage/createCustomComponents';
		@import '../_partials/landingPage/intersectionObservers';
		@import '../_partials/landingPage/accessibility';
	}
}
