.body-tutorial {

	.page-wrapper {
		overflow: hidden;
	}
	
	.footer {
		display: none;
	}

	.tutorial {
		transition: opacity 0.3s;
		opacity: 1;
		&.hiding {
			opacity: 0.05;
		}
	}

	.breadcrumb {
		* {
			margin: 0;
		}
		ul li:first-child a {
			padding-left: 0;
		}
	}

	.tutorial-title {
		font-weight: 400;
		color: $color-grey;
	}

	.paginator {
		background: $header-background;
		border-top: 2px solid $header-background;
		z-index: 2;

		.paginator-title {
			color: $light;
		}

		.pagination-previous,
		.pagination-next,
		.pagination-link {
			@include default-transition();
			&:hover {
				border-color: $primary;
				color: $light;
			}
		}
	}

	.hidden {
		opacity: 0;
		display: none;
	}

	.solution-container {
		max-width: 100%;
		
		* {
			max-width: 100%;
		}

		pre[class*="language-"] {
			margin-bottom: 0;
		}

		[id*='solution'] {
			transition: all 5s ease-in-out;
			overflow-y: hidden;
			pre {
				code {
					transition: opacity 0.3s;
					opacity: 1;
				}
			}

			&.hidden {
				height: 0;
				pre {
					code {
						opacity: 0.05;
					}
				}
			}
		}
	}

	.toggle-solution {
		width: 100%;

		&:focus {
			outline: 0;
		}
	}

	pre {
		clear: both;
	}

	.tags {
		margin: 0 0 1rem 0;
		* {
			margin: 0;
		}
	}

	.instruction {
		
		border-top: 2px solid $color-border;
		font-weight: bold;
		padding-top: 1rem;
		margin-bottom: 1rem;

		&:before {
			content: '';
			border-left: 8px solid $primary;
			margin-right: 1rem;
		}

		.icon {
			display: none;
		}
	}

	button {
		padding: 0.5rem 2rem;
		color: white;
		border: 0;
		@extend .button.is-primary;
	}
}
