.body-tutorial {
	.page-content {
		.split-content {
			.tutorial-content {
				width: 45vw;
			}
			.editor {
				width: 50vw;
				position: fixed;
				top: $header-height;
				right: 0;

				.editor-frame {
					width: 100%;
					height: 100vh;
				}
			}
		}
	}
}