.body-tutorial {
    @media (min-width: 960px) {
		.uk-section {
			padding-top: 2.5rem;
		}
    }

    .aside {
		@extend .uk-margin-medium;
		@extend .uk-padding-small;
		@extend .uk-section-secondary;
		font-size: 0.9em;
		border-left: 4px solid $alert-warning-color;

		code {
			background: rgba(#fff, 0.2);
		}

		p {
			margin-top: 0.5em;
		}
    }
}